.runningTitle {
  background-color: green;
  width: 500px;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}

.titleText {
  margin: 20px auto 10px 40px;
}

.pass {
  margin-left: 40px;
  height: 1px;
  background-color: #fff;
}

.text {
  margin: 8px 0 0 40px;
}



.title{
  margin-left: 130px;
  }

.skill{
margin-left: 130px;
}

.software{
  margin-left: 100px;
}

.language{
  margin-left: 100px;
}